<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字段名称匹配系统</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/antd@4.16.10/dist/antd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ant-design-icons/4.6.2/index.umd.min.js"
            integrity="sha512-R2qlkPDjGD7w014VzLfLntriNufg8evy8u1uY4gOkt5rAxNjM5OxNDTWZvBdi5zrKmfuh03gaLdDdPGyc6SxlQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="shortcut icon" type="image/jpg" href="./favicon.ico"></link>
    <link rel='stylesheet' type="text/css" href="https://unpkg.com/antd@4.16.10/dist/antd.css"></link>

    <style>
        .title {
            color: #494949;
            opacity: 0.9;
        }

        .title_h2 {
            color: #494949;
            font-size: medium;
            opacity: 0.9;
            vertical-align: bottom;
        }

        .title_border_limit {
            width: 100%;
            max-width: 1600px;
            margin: auto;
        }

        .border_limit {
            width: 100%;
            max-width: 1500px;
            margin: auto;
        }

        .content {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px;
            background: white;
            width: 100%;
        }

        .ant-layout-header {
            background: white;
            box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
            position: fixed;
            z-index: 2;
            width: 100%
        }

        .background {
            background: rgba(0, 0, 0, 1);
        }

        .dragger {
            height: 150px !important;
            max-width: 400px !important;
            margin: auto;
        }

        h2 {
            font-size: larger;
        }

        .title_button {
            margin-left: 10px;
        }

    </style>
</head>
<body>
<div id="root"></div>
<script type="text/babel">

    const Root = () => {
        const {
            Button,
            Layout,
            Form,
            Col,
            Row,
            Table,
            Space,
            Tag,
            Drawer,
            Input,
            Select,
            Upload,
            message,
            Result,
            Progress,
            Popover
        } = antd;
        const {Header, Content, Footer} = Layout;
        const {
            SettingOutlined,
            EditOutlined,
            CheckOutlined,
            FileSearchOutlined,
            InboxOutlined,
            CloudUploadOutlined,
            DownloadOutlined,
            CloudDownloadOutlined,
            SyncOutlined
        } = icons;
        const {Option} = Select;
        const {Dragger} = Upload;
        const [showSettings, setShowSettings] = React.useState(false)

        let editingCell = false;
        let curType = null

        const [settings, setSettings] = React.useState()
        const [status, setStatus] = React.useState()
        const [data, setData] = React.useState([]);

        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }


        function fetch_settings() {
            fetch('http://localhost:5607/get_settings').then(response => {
                return response.json();
            }).then(response => {
                if (JSON.stringify(settings) !== JSON.stringify(response)) {
                    setSettings(response);
                }
            })
        }

        function fetch_status() {
            fetch('http://localhost:5607/status').then(response => {
                return response.json();
            }).then(response => {
                if (JSON.stringify(status) !== JSON.stringify(response)) {
                    setStatus(response);
                    if (response.state == 1) {
                        setData(response.data)
                    }
                }
                if (response.state >= 0 && response.state < 1) {
                    fetch_status()
                }
            })
        }

        fetch_settings();
        fetch_status();

        function deepCopy(obj) {
            let _obj = Array.isArray(obj) ? [] : {}
            for (let i in obj) {
                _obj[i] = typeof obj[i] === 'object' ? deepCopy(obj[i]) : obj[i]
            }
            return _obj
        }


        const FieldTable = () => {

            const columns = [
                {
                    title: '字段名称',
                    dataIndex: 'field_name',
                    key: 'name',
                    render: (name, record) => {
                        return record.editing ?
                            <Input.TextArea defaultValue={name} autoSize={true} id={'field_name_' + record.key} size={'small'}/> :
                            name
                    },
                    width: '10%'
                },
                {
                    title: '对应中文',
                    dataIndex: 'cn_name',
                    key: 'cn_name',
                    render: (name, record) => {
                        return record.editing ?
                            <Input.TextArea defaultValue={
                                typeof (name) === 'object'? name.join('\n') : name
                            } id={'cn_name_' + record.key} autoSize={true}
                                            size={'small'}/> :
                             typeof (name) === 'object' && name.length>1 ? name.map(d => <div>{d}</div>) : name
                    },
                    width: '10%'
                },
                {
                    title: '字段类型',
                    dataIndex: 'type',
                    key: 'key',
                    render: (type, record) => {
                        let color = 'blue';
                        switch (type) {
                            case '文本':
                                color = 'green';
                                break;
                            case '枚举值':
                                color = 'cyan';
                                break;
                            case '整型':
                                color = 'orange';
                                break;
                            case '浮点型':
                                color = 'gold';
                                break;
                            case '日期':
                                color = 'purple';
                                break;
                        }
                        return (
                            record.editing ?
                                <Select defaultValue={type} style={{width: 120}} size={'small'}
                                        id={'type_' + record.key}
                                        onChange={val => {
                                            curType = val;
                                        }}>
                                    <Option value="文本">文本</Option>
                                    <Option value="整型">整型 </Option>
                                    <Option value="浮点数">浮点数</Option>
                                    <Option value="枚举值">枚举值</Option>
                                    <Option value="日期">日期</Option>
                                    <Option value="其它">其它</Option>
                                </Select>
                                :
                                <div>
                                    <Tag color={color}>
                                        {type}
                                    </Tag>
                                </div>
                        )
                    },
                    width: '10%'
                },
                {
                    title: '业务规则',
                    key: 'key',
                    dataIndex: 'rules',
                    render: (name, record) => {
                        return record.editing ?
                            <Input.TextArea defaultValue={
                                typeof (name) === 'object'? name.join('\n') : name
                            } id={'rules_' + record.key} autoSize={true}
                                            size={'small'}/> :
                             typeof (name) === 'object' && name.length>1 ? name.map(d => <p>{d}</p>) : name
                    },
                    width: '40%'
                },
                {
                    title: '取值范围',
                    key: 'key',
                    dataIndex: 'range',
                    render: (name, record) => {
                        return record.editing ?
                            <Input.TextArea defaultValue={
                                typeof (name) === 'object'? name.join('\n') : name
                            } id={'range_' + record.key} autoSize={true}
                                            size={'small'}/> :
                             typeof (name) === 'object' && name.length>1 ? name.map(d => <div>{d}</div>) : name
                    },
                    width: '20%'
                },
                {
                    title: '操作',
                    key: 'key',
                    render: (text, record) => (
                        <Space size="middle">
                            <a onClick={e => {
                                e.preventDefault()
                            }}>
                                {record.editing ? <CheckOutlined onClick={() => submitRecord(text, record)}/>
                                    :
                                    <EditOutlined onClick={() => setEditable(text, record)}/>}
                            </a>
                            <Popover content={<p>{JSON.stringify(record.stats)}</p>} title={'频数统计'} trigger="hover">
                                <a><FileSearchOutlined/></a>
                            </Popover>

                        </Space>
                    ),
                    width: '10%'
                },
            ];
            const setEditable = (key, record) => {
                data.forEach(d => {
                    if (d.editing) {
                        editingCell = d.key;
                    }
                })
                if (editingCell !== false) {
                    submitRecord(editingCell, data[editingCell], record.key)
                } else {
                    editingCell = record.key;
                    let dataVal = deepCopy(data);
                    dataVal[+record.key].editing = true;
                    setData(dataVal);
                }
            }
            const submitRecord = (key, record, newEditingCell) => {
                let dataVal = deepCopy(data);
                dataVal[+record.key].field_name = document.getElementById('field_name_' + record.key).value;
                dataVal[+record.key].cn_name = document.getElementById('cn_name_' + record.key).value.split('\n');
                if (curType !== null) {
                    dataVal[+record.key].type = curType;
                    curType = null;
                }
                dataVal[+record.key].rules = document.getElementById('rules_' + record.key).value.split('\n');
                dataVal[+record.key].range = document.getElementById('range_' + record.key).value.split('\n');
                dataVal[+record.key].editing = false;
                editingCell = false;
                if (newEditingCell !== undefined) {
                    dataVal[newEditingCell].editing = true;
                    editingCell = newEditingCell;
                }
                fetch('http://localhost:5607/edit_fields', {
                            method: 'POST',
                            credentials: 'include',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                data: dataVal
                            })
                        }).then(response => {
                            return response.json()
                        }).then(response => {
                            if (response.status === 'success') {
                                setData(dataVal);
                                message.success(`已保存文件`)
                            } else {
                                console.log(response)
                                message.error(`后台拒绝了您的请求，原因：${response.msg}`)
                            }
                        })
                setData(dataVal);
            }


            return (
                <Table columns={columns} dataSource={data} locale={'无数据'} pagination={false} rowSelection={{
                    type: 'checkbox'
                }}/>
            )
        }

        const Settings = () => {

            const uploadDictProps = {
                name: 'file',
                multiple: true,
                action: 'http://localhost:5607/upload_dict',
                onChange(info) {
                    const {status} = info.file;
                    if (status !== 'uploading') {
                        console.log(info.file, info.fileList);
                    }
                    if (status === 'done') {
                        message.success(`${info.file.name} 文件上传成功`);

                    } else if (status === 'error') {
                        message.error(`${info.file.name} 文件上传失败`);
                    } else if (status == 'removed') {
                        fetch('http://localhost:5607/del_dict', {
                            method: 'POST',
                            credentials: 'include',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                file: info.file.name
                            })
                        }).then(response => {
                            return response.json()
                        }).then(response => {
                            if (response.status === 'success') {
                                message.success(`删除文件 ${info.file.name} 成功`)
                            } else {
                                message.error(`后台拒绝了您的请求，原因：${response.msg}`)
                            }
                        })
                    }
                },
                defaultFileList: settings ? JSON.parse(JSON.stringify(settings.dict_file_list)) : [],
            };
            const uploadSuiteProps = {
                name: 'file',
                multiple: true,
                action: 'http://localhost:5607/upload_suite',
                onChange(info) {
                    const {status} = info.file;
                    if (status !== 'uploading') {
                        console.log(info.file, info.fileList);
                    }
                    if (status === 'done') {
                        message.success(`${info.file.name} 文件上传成功`);

                    } else if (status === 'error') {
                        message.error(`${info.file.name} 文件上传失败`);
                    } else if (status == 'removed') {
                        fetch('http://localhost:5607/del_suite', {
                            method: 'POST',
                            credentials: 'include',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                file: info.file.name
                            })
                        }).then(response => {
                            return response.json()
                        }).then(response => {
                            if (response.status === 'success') {
                                message.success(`删除文件 ${info.file.name} 成功`)
                            } else {
                                message.error(`后台拒绝了您的请求，原因：${response.msg}`)
                            }
                        })
                    }
                },
                defaultFileList: settings ? JSON.parse(JSON.stringify(settings.suite_file_list)) : [],
                onDrop(e) {
                    console.log('Dropped files', e.dataTransfer.files);
                },
            };

            return (
                <Drawer
                    title="设置"
                    placement={'left'}
                    closable={true}
                    onClose={() => {
                        setShowSettings(false)
                    }}
                    visible={showSettings}
                    width={'max(40%, 500px)'}
                >
                    <h2>字典文件</h2>
                    <p>字典文件记录了整个被测程序的中英文术语对应信息，对于变量的翻译起到了至关重要的作用。</p>
                    <p><a>点此</a>下载字典文件模板</p>
                    {
                        //todo: 添加字典文件模板
                    }
                    <Dragger {...uploadDictProps} className={'dragger'}>
                        <p className="ant-upload-drag-icon">
                            <InboxOutlined/>
                        </p>
                        <p className="ant-upload-hint">点击上传或拖拽*.xls/xlsx文件至此区域</p>
                    </Dragger>
                    <br/><br/>
                    <h2>测试用例文件</h2>
                    <p>通过读取手工测试用例文件，程序能够获得需要匹配的字段信息并推测出可能的变量类型和取值范围。</p>
                    <Dragger {...uploadSuiteProps} className={'dragger'}>
                        <p className="ant-upload-drag-icon">
                            <InboxOutlined/>
                        </p>
                        <p className="ant-upload-hint">点击上传或拖拽*.json文件至此区域</p>
                    </Dragger>
                    <br/><br/>
                    <h2>业务规则</h2>
                    <p>请将业务规则填入下方文本框，用于业务规则与变量名之间的自动匹配。</p>
                    <p>其中，每一条业务规则占据一行。</p>
                    <Input.TextArea autoSize={{minRows: 5, maxRows: 10}} id={'rules'}
                                    defaultValue={settings ? settings.rules : ''}/>
                    <br/><br/>
                    <h2>补充字典文件</h2>
                    <p>如有需要补充的字典信息，请填写在下方文本框内。</p>
                    <p>其中，每一条字典信息占据一行。</p>
                    <Row>
                        <Col span={12}>
                            中文
                            <Input.TextArea autoSize={{minRows: 5, maxRows: 500}} id={'cn_list'}
                                            defaultValue={settings ? settings.cn_list : ''}/>
                        </Col>
                        <Col span={12}>
                            英文
                            <Input.TextArea autoSize={{minRows: 5, maxRows: 500}} id={'en_list'}
                                            defaultValue={settings ? settings.en_list : ''}/>
                        </Col>
                    </Row>
                    <br/><br/>
                    <Button type={'primary'} style={{display: 'block', margin: 'auto'}} onClick={() => {
                        let rules = document.getElementById('rules').innerHTML;
                        let cn_list = document.getElementById('cn_list').innerHTML;
                        let en_list = document.getElementById('en_list').innerHTML;
                        fetch('http://localhost:5607/submit_settings', {
                            method: 'POST',
                            credentials: 'include',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                rules: rules,
                                cn_list: cn_list,
                                en_list: en_list
                            })
                        }).then(response => {
                            console.log(cn_list)
                            return response.json()
                        }).then(response => {
                            if (response.status === 'success') {
                                message.success('信息提交成功，等待后台处理')
                                setShowSettings(false)
                            } else {
                                message.error(`后台拒绝了您的请求，原因：${response.msg}`)
                            }
                        })
                    }}>提交</Button>
                </Drawer>
            )
        }
        return (
            <div>
                <Settings/>
                <Layout className="layout">
                    <Header>
                        <div className={'title_border_limit'}
                             style={{
                                 display: 'flex',
                                 flexDirection: 'row',
                                 justifyContent: 'space-between',
                                 alignItems: 'flex-end'
                             }}>
                            <h1 className="title">字段名称匹配系统</h1>
                            <h2 className="title_h2">

                                <Button icon={<DownloadOutlined/>} className={'title_button'} onClick={() => {

                                }} disabled>下载当前表格</Button>
                                <Button icon={<CloudDownloadOutlined/>} className={'title_button'} onClick={() => {

                                }} disabled>导入工作区</Button>
                                <Button icon={<CloudUploadOutlined/>} className={'title_button'} onClick={() => {

                                }} disabled>导出工作区</Button>
                                <Button icon={<SettingOutlined/>} className={'title_button'} onClick={() => {
                                    setShowSettings(true)
                                }}>设置</Button>
                            </h2>
                        </div>
                    </Header>
                    <br/><br/><br/>
                    <Content>
                        <div className="border_limit">
                            <div className="content">
                                <div>
                                    {status == undefined ? <FieldTable/> :
                                        status.state == 1 ? <FieldTable/> :
                                            status.state == -1 ? <Result title={'请在设置中上传测试字段信息'} extra={
                                                    <Button icon={<SettingOutlined/>} className={'title_button'}
                                                            onClick={() => {
                                                                setShowSettings(true)
                                                            }}>设置</Button>
                                                }/> :
                                                status.state == -2 ? <Result
                                                        status="error"
                                                        title="错误"
                                                        subTitle={status.error}/> :
                                                    <Result
                                                        icon={<SyncOutlined spin/>}
                                                        title="文本匹配中"
                                                        extra={<Progress
                                                            percent={Math.round(status.state * 10000) / 100}/>}
                                                    />
                                    }
                                </div>
                            </div>
                        </div>
                    </Content>
                    <Footer>
                        <p style={{textAlign: 'center'}}>Copyright © Harry Lee</p>
                    </Footer>
                </Layout>
            </div>
        )
    }

    ReactDOM.render(<Root/>, document.getElementById('root'))
</script>
</body>
</html>